<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="..\Css\bootstrap.css">
    <script src="..\Scrip\jquery-3.5.1.min.js"></script>
    <script src="..\Scrip\bootstrap.min.js"></script>
    <script src="..\Scrip\Vue.js"></script>
    <style>
        .red{ background-color: red;}
        .yellow{ background-color: yellow;}

    </style>
</head>
<body>
    
    <div id="box">
        {{myname}}--{{myage}}
        {{30>20?"aaa":"bbb"}}
        <div :class="whichcolor">切换背景颜色</div>
        <div :class="iscolor?'red':'yellow'">切换背景颜色</div>
        <button @click="handlechange">change</button>
        <button v-on:click="handlechange">change</button>
        <img :src="imgpath" alt="">
        <img v-bind:src="imgpath" alt="">
        <div v-show="isshow">我是动态显示、隐藏isshow</div>
        <div v-if="isshow">我是动态显示、隐藏v-if</div>
        <ul>
           <li v-for="(item,index) in list">
               {{index}}--{{item}}
           </li>

        </ul>
    </div>


    <script>
     var vm= new Vue({
        el:"#box",
        data() {
            return {
                myname:"zenghao",
                myage:100,
                whichcolor:"red",
                iscolor:true,
                imgpath:"1_open.png",
                isshow:false,
                list:["aaaaa","bbbbb","cccc"]
            }
        },
        methods: {
            handlechange(){
                console.log("handlechange");
                this.myage=19;
                this.myname="tiechui";
                this.whichcolor= 'yellow';
                this.iscolor=!this.iscolor;
                this.imgpath="1_close.png";
                this.isshow=!this.isshow;
            }
        },
     })
     debugger;
    </script>
</body>
</html>