<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="..\Css\bootstrap.css" />
    <script src="..\Scrip\jquery-3.5.1.min.js"></script>
    <script src="..\Scrip\bootstrap.min.js"></script>
    <script src="..\Scrip\Vue.js"></script>
    <style></style>
  </head>
  <body>
    <div id="box">
      <ul>
        <!-- <li v-for="item in datalist"> -->
        <li v-for="(item,index) of datalist">
            {{item}}--{{index}}
        </li>
      </ul>
    </div>

    <script>
      var vm = new Vue({
        el: "#box",
        data() {
          return {
            isCreated: true,
            datalist: [
              "1111","2222","3333"
            ],
          };
        },
        methods: {},
      });
    </script>
  </body>
</html>
