<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="..\Css\bootstrap.css" />
    <script src="..\Scrip\jquery-3.5.1.min.js"></script>
    <script src="..\Scrip\bootstrap.min.js"></script>
    <script src="..\Scrip\Vue.js"></script>
    <style></style>
  </head>
  <body>
    <div id="box">
      <div>用户名：<input type="text" v-model="mytext"></div>
      <input type="checkbox" v-model="isRemember"/>记住用户名
      <button @click="handleLogin">登录</button>


      <div>
        <h2>注册页面-兴趣爱好</h2>
        <input type="checkbox" v-model="checkList" value="vue"/> Vue
        <input type="checkbox" v-model="checkList" value="React"/> React
        <input type="checkbox" v-model="checkList" value="wx"/> 小程序
      </div>
      {{checkList}}

      <div>
        <h2>性别选择</h2>
        <input type="radio" v-model="" value="a"/> 男
        <input type="radio" v-model="" value="b"/> 女
       
      </div>
    </div>
      
    <script>
      var vm = new Vue({
        el: "#box",
        data() {
          return {
            mytext:"",
            isRemember:true,
            checkList:[],

            
          };
        },
        methods: {
            handleLogin(){
                if (this.isRemember) {
                    localStorage.setItem("username",this.mytext)
                }
            }

        },
      });
    </script>
  </body>
</html>
