<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="..\Css\bootstrap.css" />
    <script src="..\Scrip\jquery-3.5.1.min.js"></script>
    <script src="..\Scrip\bootstrap.min.js"></script>
    <script src="..\Scrip\Vue.js"></script>
    <style></style>
  </head>
  <body>
    <div id="box">
      <input type="text" v-model="mytext"/>
      <!-- <ul>
        <li v-for="data in test()" :key="data">{{data}}</li>
     </ul> -->
     <ul>
      <li v-for="data in test" :key="data">{{data}}</li>
   </ul>
    </div>

    <script>
      var vm = new Vue({
        el: "#box",
        data() {
          return {
            mytext:"",
            datalist: ["aaa", "add", "bbb", "bbc", "ccc", "ddd", "eee", "ade"],
           
          };
        },
        computed:{
          test(){
           return this.datalist.filter(item=>item.includes(this.mytext))
         }
        },
        methods: {
         test(){
           return this.datalist.filter(item=>item.includes(this.mytext))
         }
        },
      });
    </script>
  </body>
</html>
